{% capture socialmedia %}<p>What's happening in Ithaca High School TSA? Follow us on <a class="plink" href="https://www.facebook.com/IHSTSA">Facebook</a> and <a class="plink" href="https://twitter.com/ihstsa">Twitter</a></p>{% endcapture %}
{% capture quicknews %}
<ul>
{% for item in site.data.news limit:3 %}
	<li>
		<strong>{{ item.title }}</strong>
		{% capture aname %}{{ item.date }}-{{ item.title }}{% endcapture %}
		{% capture toappend %}... <a href="news.html#{{ aname | truncatewords:3 | slugify }}">More</a>{% endcapture %}
		<p>{{ item.date }} - {{ item.content | truncatewords:15,toappend }}
	</li>
{% endfor %}
</ul>
{% endcapture %}

{% capture news %}
<ul>
{% for item in site.data.news %}
	<li>
		<a name="{{ item.date | append:"-" | append:item.title | truncatewords:3 | slugify }}"></a>
		<strong>{{ item.title }}</strong>
		<p>{{ item.date }} - {{ item.content }}
	</li>
{% endfor %}
</ul>
{% endcapture %}